<div class="artist">
  <div class="image">
    {{#if @artist.image}}
      <img src={{@artist.image}} alt={{@artist.name}} />
    {{else}}
      No image
    {{/if}}
  </div>
  <div class="artist-name">
    {{#if this.editing}}
      Name: <Textarea 
        class="new-name" 
        @value={{this.newName}}
        placeholder={{@artist.name}}
        minlength="1"
      />
      Image URL: <Input @type="url" id="image-url" @value={{this.newImage}} />
    {{else}}
      <h1 class="name">{{@artist.name}}</h1>
    {{/if}}
  </div>
  <span class="artist-buttons">
    <button 
      type="button" 
      class="edit" 
      {{ on "click" this.toggleEditing }}
    >
      {{ if this.editing "Cancel" "Edit" }}
    </button>
    <button 
      type="button" 
      class="delete" 
      value={{@artist.id}} 
      {{ on "click" @delete }}
    >
      Delete
    </button>
    {{#if this.editing }}
      <button 
        type="button" 
        class="save" 
        {{ on "click" this.updateArtist }}
      >
        Save
      </button>
    {{/if}}
  </span>
  <div class="albums-count" {{on "click" this.toggleHidden}}>
    <span class="count">Albums saved: {{@artist.albums.length}}</span>
    <span class="dropdown-icon">{{if this.isHidden "∨" "∧"}}</span>
  </div>
</div>
<div class="albums {{if this.isHidden "hidden"}}">
  {{#each @artist.albums as |album|}}
    <div class="album">
      <span><b>Album title: </b>{{album.title}}</span><br/>
      <span><b>Release date: </b>{{album.releaseDate}}</span>
    </div>
  {{/each}}
</div>
