<div class="form-container">
  <form class="form new-resource">
    {{yield}}
    {{!-- {{#if (eq this.step "artist")}} --}}
      {{! Artist fields }}
      {{!-- <Form::ArtistFields @artists={{@options.artists}}/> --}}
    {{!-- {{/if}}
    {{#if (eq this.step "album")}} --}}
      {{!-- <Form::AlbumFields @albums={{this.selectedArtist}}/> --}}
      {{!-- <fieldset>
        <legend>Album:</legend>
        <label>Title:</label>
        <select class="select-album" {{on "change" this.selectAlbum}}>
          <option value="" disabled selected>Select album</option>
          <option value="new">New Album</option>
          {{#each @model.albums as |album|}}
            <option value={{album.id}}>{{album.title}}</option>
          {{/each}}
        </select>
        {{#if (eq this.albumId "new")}}
          <div class="new-album-input">
            <label for="new-album-title">New album title:</label>
            <Input id="new-album-title" @value={{this.albumTitle}} />
            <label for="release-date">Album release date:</label>
            <Input @type="date" id="release-date" @value={{this.albumReleaseDate}} />
          </div>
        {{/if}}
      </fieldset> --}}
    {{!-- {{/if}} --}}
    {{!-- <fieldset>
      <legend>Artist:</legend>
      <label>Name:</label>
      <select class="select-artist" {{on "change" this.selectArtist}}>
        <option value="" disabled selected>Select artist</option>
        <option value="new">New Artist</option>
        {{#each @model.artists as |artist|}}
          <option value={{artist.id}}>{{artist.name}}</option>
        {{/each}}
      </select>
      {{#if (eq this.artistId "new")}}
        <div class="new-artist-input">
          <label for="new-artist-name">New artist name:</label>
          <Input id="new-artist-name" @value={{this.artistName}} />
          <label for="image-url">Artist photo URL:</label>
          <Input id="image-url" @value={{this.imageUrl}} />
        </div>
      {{/if}}
    </fieldset> --}}

    {{!-- {{! Album fields }}
    <fieldset>
      <legend>Album:</legend>
      <label>Title:</label>
      <select class="select-album" {{on "change" this.selectAlbum}}>
        <option value="" disabled selected>Select album</option>
        <option value="new">New Album</option>
        {{#each @model.albums as |album|}}
          <option value={{album.id}}>{{album.title}}</option>
        {{/each}}
      </select>
      {{#if (eq this.albumId "new")}}
        <div class="new-album-input">
          <label for="new-album-title">New album title:</label>
          <Input id="new-album-title" @value={{this.albumTitle}} />
          <label for="release-date">Album release date:</label>
          <Input @type="date" id="release-date" @value={{this.albumReleaseDate}} />
        </div>
      {{/if}}
    </fieldset>

    {{! Song fields }}
    <fieldset>
      <legend>Song:</legend>
      <label>Select song:</label>
      <select class="select-song" {{on "change" this.selectSong}}>
        <option value="new">New Song</option>
        {{#each @model.songs as |song|}}
          <option value={{song.id}}>{{song.title}}</option>
        {{/each}}
      </select>
      {{#if (eq this.songId "new")}}
        <div class="new-song-input">
          <label for="new-song-title">New song title:</label>
          <Input id="new-song-title" @value={{this.songTitle}} />
          <label for="image-url">Album release date:</label>
          <Input @type="date" id="image-url" @value={{this.albumReleaseDate}} />
        </div>
      {{/if}}
    </fieldset> --}}
  </form>
</div>