<fieldset>
  <legend>Album:</legend>
  <select class="select-album" {{on "change" @handleChange}}>
    <option value="" disabled selected>Select album</option>
    <option id="new-album" value="new">New Album</option>
    {{#each @albums as |album|}}
      <option value={{album.id}}>{{album.title}}</option>
    {{/each}}
  </select>
  {{#if (eq @props.id "new")}}
    <div class="new-album-input">
      <label for="new-album-title">New album title*</label>
      <Input id="new-album-title" @value={{@props.title}} />
      <label for="release-date">Album release date*</label>
      <Input @type="date" id="release-date" @value={{@props.releaseDate}} />
    </div>
  {{/if}}
</fieldset>
<div class="new-selections">Artist: {{@artist.name}}</div>
