<fieldset>
  <legend>Artist:</legend>
  <select class="select-artist" {{on "change" @handleChange}} required>
    <option value="" disabled selected>Select artist</option>
    <option id="new-artist" value="new">New Artist</option>
    {{#each @artists as |artist|}}
      <option value={{artist.id}}>{{artist.name}}</option>
    {{/each}}
  </select>
  {{#if (eq @props.id "new")}}
    <div class="new-artist-input">
      <label for="new-artist-name">Name*</label>
      <Input id="new-artist-name" @value={{@props.name}} required />
      <label for="image-url">Image URL</label>
      <Input id="image-url" @value={{@props.imageUrl}} />
    </div>
  {{/if}}
</fieldset>

